#leaderboardContainer
{
	position: fixed;
	top: 400px;
	height: 400px;
	width: 730px;
	left: 0px;
	background-color: black;
	z-index: 110;
	padding: 20px;
	
	transition: transform 0.6s, opacity 0.6s;
	
	/* Initial position */
	opacity: 0;
	transform: translate(-100%, 0px);
}
#leaderboard
{
	background-color: rgb(56, 42, 28);
	color: white;
	max-height: 400px;
	overflow-y: scroll;
}
#leaderboard td, #leaderboard th
{
	text-align: left;
	padding-left: 10px;
}

#leaderboard a, #leaderboard a:active, #leaderboard a:visited, #leaderboard a:hover
{
	text-decoration: none;
	color: white;
}

#leaderboardArrow
{
	position: fixed;
	top: 400px;
	left: 0px;
	display: inline-block;
	height: 30px;
	width: 30px;
	z-index: 100000;
	background: url(https://jessebusman.github.io/PyramidGame/the_pyramid_game_arrow_small.png);
	background-size: 100% 100%;
	transform: rotate(90deg);
	transition: transform 0.6s, opacity 1.0s;
	opacity: 0.0;
}
#leaderboardArrow:hover
{
	cursor: pointer;
}

/* Leaderboard should be visible on small screens */
@media screen and (max-height: 850px) {
	#leaderboardContainer
	{
		top: auto !important;
		bottom: 0px !important;
		height: 300px !important;
	}
	#leaderboardArrow
	{
		top: auto !important;
		bottom: 300px !important;
	}
	#leaderboard
	{
		max-height: 300px !important;
	}
}
