#largeAboutBox
{
	margin: 0 auto;
	width: 550px;
	background-color: black;
	color: white;
	margin-top: 140px;
	padding: 20px 20px 30px 20px;
	opacity: 0.8;
	text-align: center;
}
#largeAboutBox > div
{
	display: inline-block;
	text-align: center;
}
#largeAboutBox > div > table
{
	text-align: left;
}
#largeAboutBox > div > table td
{
	padding: 10px 30px 0px 30px;
	font-size: 16pt;
	min-width: 170px;
}
body
{
	height: auto !important;
}
#largeAboutBox a
{
	color: white;
}
#aboutText
{
	font-size: 16pt;
	padding-right: 50px;
}
